@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #010203;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10000;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item {
    padding: 0 10px;
    transition: all 0.3s linear;
}
.navbar-brand img {
    width: 127px;
}
.navbar-toggler{
    border: none;
}
/* Indicamos que cuando se haga scroll cambie de color el icono menu hamburguesa */
.navigation-wrap.scroll-on .navbar-toggler i{
    color: #000;
}
.navbar-toggler i{
    color: #fff;
    font-size: 20px;
    border: none;
}
/* Quitamos estilos que trae por defecto al presionar el menu hamburguesa */
.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.nav-link {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 10px;
}
.nav-link:hover {
    color: #33cfff;
}
/* cuando esta responsivo, se despliegan las opciones y las centramos */
.navbar-collapse{
    text-align: center;
}

.navigation-wrap.scroll-on {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
    transition: all 0.15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link {
    color: #000;
}

.navigation-wrap.scroll-on .nav-link:hover
{
    color: #33cfff;
}

.sectionOne {
    background-image: url("../img/banner1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.644);
    padding: 170px 0;
    height: 450px;
}

.sectionOne h1 {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 15px;
}

.sectionOne p {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}


.sectionTwo h2{
    text-decoration:underline;
    font-weight: bold;
    padding-bottom: 15px;
    color: #fff;
}

.sectionTwo {
    padding: 100px 0;
}

.sectionTwo p {
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}

.sectionThree{
    /*background: linear-gradient(to right, #0f2027, #203a43, #2c5364);*/
    background: #536b75;
}

.sectionThree h2 {
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 45px;
}

.sectionThree p {
    color: #fff;
    white-space: pre-line;
    font-size: 17;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.card-title {
    text-align: center;
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}



.sectionThree .container-cards{
    margin: 0 auto;
}
.card p{
    color: #000;
}


.sectionThree .card-text{
    height: 100px;
}

.sectionFour img{
    height: 250px;
}
.sectionFour{

    /*background-color: #807e7e70;*/
}

.sectionFour .btn-show{
    padding: 15px;
    border-radius: 5px;
    background: green;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20%;
}
.sectionFour .btn-show i{
    padding-left: 20px;
}
.sectionFour .btn-show:hover{
    background: rgb(2, 180, 2);
}

.sectionFour h2{
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 45px;
}
.sectionFour p {
    white-space: pre-line;
    font-size: 17;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.sectionFour .card-text{
    color: #000;
    height: 100px;
}
.sectionFour .p-text-four{
    white-space: normal;
    padding-bottom: 25px;
    margin: 0 auto;
}

.btn{
    justify-content: center;
    align-self: center;
    width: 50%;
}

.sectionApp {
    background: linear-gradient(55deg, #010203 50%, white 50%);
    /*background-color: #f7f7f7;*/
}

.divImg img {
    max-width: 350px;
    width: 100%;
}

.card img{
    height: 250px;
}

.sectionApp h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #000;
    font-size: 45px;
}
.sectionApp p {
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 15px;
    font-weight: 300;
}

.boxInformativo {
    width: 100%;
    min-height: 220px;
    padding: 40px 15px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.boxInformativo h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 0.313rem;
}

.boxInformativo.estilo1 {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.boxInformativo span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px;
    line-height: 26px;
    color: #fff;
}

.boxInformativo img{
    width: 50px;
}

.container-form{
    margin: 0 auto;
    background-color: #0f2027b9;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.container-form .btn{
    margin-top: 10px;
}
.no-resize {
    resize: none;
  }

.sectionFive{    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;

}

.sectionFive h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
    font-size: 45px;
}

/*Seccion certificados*/
.bodyCertifications{
    background: linear-gradient(55deg, #010203 50%, white 50%);
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
}
.nav{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: fixed;
    z-index: 10000;
    background-color: #fff;
    padding: 20px;
}


.nav .nav-link{
    background-color: #33cfff;
    color: #000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Desplazamiento en X, Desplazamiento en Y, Borrosidad, Color */
    border-radius: 5px;
}
.sectionCertificates h2{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
}
.sectionCertificates p {
    white-space: pre-line;
    font-size: 17;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}



.sectionCertificates .card-text{
        color: #000;
        height: 100px;
}

.sectionCertificates h4{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 20%;
    padding: 10px;
    background: #536b75;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Desplazamiento en X, Desplazamiento en Y, Borrosidad, Color */
    border-radius: 10px;
    color: #fff;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para asegurarse de que el video esté detrás de otros contenidos */
  }

.botonScrollTop{
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: #33cfff;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #000;
    font-size: 25px;
    border-radius: 50%;
    border-style: none;
    border-color: none;
    cursor: pointer;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.342);

}

footer{
    color: aliceblue;
    padding: 50px;
    background: #010203;
}
footer a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}
footer p{
    padding-top: 15px;
}


/*Dispositivos moviles como Iphone 5 */
@media (min-width: 320px) and (max-width: 568px){
    .navbar .navbar-collapse {
        /* Ocultar el contenido de la barra de navegación por defecto */
       background-color: #fff; /* Fondo blanco */
       /* Otros estilos específicos para la barra desplegada aquí */
     }
   
     .navbar.is-active .navbar-collapse {
         display: block; /* Mostrar el contenido de la barra de navegación cuando se despliega */
         
     }
     .nav-link{
         color: #000;
     }
     .sectionOne {
        height: 100vh;
    }

    .sectionOne p{
        font-size: 25px;
    }

     .sectionThree .card-text{
        height: auto;
        margin-bottom: 24px;
    }
    .sectionFour .card-text{
        height: auto;
        margin-bottom: 24px;
    }
    .sectionCertificates h4{
        width: 70%;
    }

    .sectionCertificates .card-text{
        height: auto;
    }
    .nav .basicC,
    .nav .jS{
        display: none;
    }
    .sectionFour .btn-show{
        width: 50%;
    }
}


/*Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar .navbar-collapse {
        /* Ocultar el contenido de la barra de navegación por defecto */
       background-color: #fff; /* Fondo blanco */
       /* Otros estilos específicos para la barra desplegada aquí */
     }
     .navbar.is-active .navbar-collapse {
        display: block; /* Mostrar el contenido de la barra de navegación cuando se despliega */
        
    }
    .nav-link{
        color: #000;
    }
    .sectionThree p{
        font-size: 30px;
        margin-bottom: 35px;
    }
    .card{
        height: 650px;
    }
    .card img{
        width: 100%;
        height: 60%;
    }

    .card p{
        font-size: 22px;
    }
    .card h5{
        font-size: 30px;
    }

    .sectionOne p {
        font-size: 25px;
    }

    .sectionTwo p{
        font-size: 25px;
    }
    .social i{
        font-size: 22px;
    }
    .sectionThree .card{
        margin-left: 10px;
    }
    .sectionCertificates h4{
        width: 80%;
    }
    .boxInformativo {
        width: 100%;
        padding: 20px;
    }
    .sectionFour .btn-show{
        width: 50%;
        padding: 35px;
        font-size: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar .navbar-collapse {
        /* Ocultar el contenido de la barra de navegación por defecto */
        background-color:#ffffff00;
       /* Otros estilos específicos para la barra desplegada aquí */
     }
     .nav-link{
        color:#fff
     }
    .sectionFour p{
        white-space: initial;
    }
    .card{
        height: 520px;
    }
    .card img{
        height: 40%;
    }
    .sectionThree .card-text{
        height: auto;
        margin-bottom: 45px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .social i{
        font-size: 22px;
    }
    .sectionThree .card{
        margin-left: 10px;
    }
}

/* 
  Dispositivo = Escritorios
  Pantalla = 1281px para escritorios de mayor resolución
*/

@media (min-width: 1281px) {
    .sectionThree .card{
        margin-left: 10px;
    }
    .sectionFour .card-text{
        color: #000;
        height: 55px;
    }
    .boxInformativo {
        width: 70%;
        min-height: 220px;
        padding: 40px 15px;
        text-align: center;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .sectionCertificates .card-text{
        color: #000;
        height: 55px;
}
}

@media (min-width: 992px) {
    .container-form {
      max-width: 600px;
    }
  }